@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

nav {
    z-index: 100;
}

input[type='checkbox'] {
  appearance: none;
  height: 24px;
  width: 24px;
  background-color: #36536b25;
  cursor: pointer;
  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 24px;
  height: 24px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;

  transform-origin: center;
  background-image: url('/assets/shared/desktop/icon-check-white.svg');
  background-position: center;
  background-repeat: no-repeat;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

input[type='checkbox']:checked {
  background-color: #ba4270;
}

.nav {
    z-index: 1000;
}

.hero-circle {
  z-index: 0;
  position: absolute;
  top: -550px; /* Set the top position to 0 to center the image at the top */
  left: 50%; /* Move the image 50% to the left (center horizontally) */
  transform: translateX(-50%); /* Center the image horizontally */
  width: 780px;
  height: 780px;
  background-image: url('/assets/shared/desktop/bg-pattern-circle.svg');
}
